<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
    <div id="login">
        <div class="container">
            <div style="margin-top: 20px;"  id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div style="border-radius: 15px; border-color:rgb(89, 160, 42); height: auto;"  id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/login" method="post">
                            <h3 style="color: rgb(89, 160, 42);" class="text-center">Login</h3>
                            <div class="form-group">
                                {{#if loginErr}}
                                <p style="color: red;" class="error">Invalid username or password</p>
                                {{/if}}
                                <label style="color: rgb(89, 160, 42);" for="username" class="">Email:</label><br>
                                <input placeholder="Email" type="email" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="color: rgb(89, 160, 42);" for="password" class="">Password:</label><br>
                                <input placeholder="password" type="text" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                             
                                <button  style="background-color:rgb(89, 160, 42); ; color: rgb(0, 0, 0);" class="btn btn-md" type="submit" >Login</button>
                
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<style>
    body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9C9C9C;
  background-color: #EAEAEA;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
</style>

</body>