<section>
    <div class="row">
        <div style="border: solid; width: 300px; height: 200px; border-color:rgb(89, 160, 42); margin-top: 150px; border-radius: 10px;" class="container">
            <div class="col-md-12 text-center">
                <h1 class="text-center">Order Placed Successfully</h1>
                <a style="background-color:rgb(89, 160, 42); color: white; border-radius: 10px;"  href="/orders" class="btn">View Orders</a>
            </div>
        </div>
    </div>
</section>